@model BaiTap8.Models.Book

@{
    ViewData["Title"] = "Xóa sách";
}

<h2>Xóa sách</h2>

<div class="alert alert-danger">
    Bạn có chắc muốn xóa sách này không?
</div>

<div class="card p-3">

    <h4>@Model.Name</h4>

    <p>
        Giá: @Model.Price
    </p>

    @if (Model.Images != null)
    {
        foreach (var img in Model.Images)
        {
            <img src="@img.ImageUrl"
                 width="120"
                 class="m-1 border" />
        }
    }
</div>

<br />

<form asp-action="Delete">

    <input type="hidden"
           asp-for="Id" />

    <button type="submit"
            class="btn btn-danger">
        Xóa
    </button>

    <a asp-action="Index"
       class="btn btn-secondary">
        Hủy
    </a>

</form>