@model BaiTap8.Models.Book

@{
    ViewData["Title"] = "Chi tiết sách";
}

<h2>Chi tiết sách</h2>

<div class="card p-3">

    <h4>@Model.Name</h4>

    <p>
        <strong>Giá:</strong>
        @Model.Price
    </p>

    <div>
        <strong>Hình ảnh:</strong>
        <br />

        @if (Model.Images != null)
        {
            foreach (var img in Model.Images)
            {
                <img src="@img.ImageUrl"
                     width="150"
                     class="m-1 border" />
            }
        }
    </div>

</div>

<br />

<a asp-action="Index"
   class="btn btn-secondary">
    Quay lại
</a>